.navbar {
    background-color: aliceblue;
}
.quemsomos {background-color: rgb(247, 247, 239);
}
.margin {
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .parceiros {
        background-color: rgb(205, 227, 247);
    }

     .bg-footer {
         background-color: black;
         color:azure;

    

    }